h1{
    text-align:center;
    font-family: 'Courier New', Courier, monospace;
}


.common-form{
    display:flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

.form-input{
    height:35px;
    margin-bottom: 20px;
    padding-left: 15px ;
    border: 1px solid blue;
  
}
.form-button{
    height:35px;
    border: 1px solid blue;
    
}
.error{
    text-align: center;
    font-weight:bold;
}
